body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white; /* Dark blue color */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 800px; /* Set a maximum width */
    margin: auto;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000; /* Black color */
    border-radius: 15px;
    margin-bottom: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    text-align: center;
    color: black; /* White color for text */
}
